/* common css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  display: flex;
}

.container {
  width: 1570px;
  margin: 0 auto;
}

.botton {
    color: var(--third-color);
    background-color: var(--secoondary-color);
    padding: 20px 54px;
    t-size: 18px;
    font-family: var(--primary-font);
    text-transform: uppercase;
    transition: 0.4s;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    letter-spacing: -1.22px;
    gap: 10px;
}

.botton:hover{
  color: var(--primary-color);
  background-color: var(--third-color);
}

:root {
  --primary-font: "Sofia Sans", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --primary-color: #222222;
  --secoondary-color: #c42221;
  --third-color: #f5f5f5;
}

/* common css end */


/* menu css start */


#menu {
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid oklch(66.823% 0.00233 15.423);
  padding-bottom: 20px;
}

.main {
  justify-content: space-between;
  align-items: center;
}

.main ul {
  display: flex;
}

.main ul li a {
  color: var(--third-color);
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  transition: 0.4s;
}

.main ul li a:hover {
  color: var(--secoondary-color);
}

.main ul li {
  display: flex;
  align-items: center;
  margin: 0 20px;
  position: relative;
}

.main ul li i {
  color: var(--third-color);
  font-size: 10px;
  transition: 0.4s;
}

.main ul li:hover i {
  color: var(--secoondary-color);
}

.main .menu_icon i {
  font-size: 18px;
  color: var(--third-color);
  margin-left: 25px;
  transition: 0.4s;
}

.main .menu_icon i:hover {
  color: var(--secoondary-color);
}

/* dropdown home START */

.main ul li .dropdown_menu {
  position: absolute;
  flex-direction: column;
  top: 39px;
  left: -100px;
  transform: translateX(-50%);
  background-color: var(--third-color);
  padding: 10px;
  width: 300px;
  background-color: var(--third-color);
  transition: 0.4s;
  transition-delay: 0.1s;
  transform-origin: top;
  transform: scaleY(0);
}
.main ul li:hover .dropdown_menu {
  transform: scaleY(1);
}

.main ul li .dropdown_menu a {
  width: 100%;
  padding: 20px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 14px;
  text-transform: none;
  transition: 0.4s;
}

.main ul li .dropdown_menu a:hover {
  background-color: var(--secoondary-color);
  color: var(--third-color);
}

.main ul li .dropdown_menu li {
  margin: 0;
}

/* dropdown Home END */

/* dropdown AboutUs START */

.main ul li .dropdown_aboutUs {
  position: absolute;
  flex-direction: column;
  top: 39px;
  left: -100px;
  transform: translateX(-50%);
  background-color: var(--third-color);
  padding: 10px;
  width: 300px;
  background-color: var(--third-color);
  transition: 0.4s;
  transition-delay: 0.1s;
  transform-origin: top;
  transform: scaleY(0);
}
.main ul li:hover .dropdown_aboutUs {
  transform: scaleY(1);
}

.main ul li .dropdown_aboutUs a {
  width: 100%;
  padding: 20px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 14px;
  text-transform: none;
  transition: 0.4s;
}

.main ul li .dropdown_aboutUs a:hover {
  background-color: var(--secoondary-color);
  color: var(--third-color);
}

.main ul li .dropdown_aboutUs li {
  margin: 0;
}

/* dropdown AboutUs END */

/* dropdown Products Start*/

.main ul li .dropdown_products {
  position: absolute;
  flex-direction: column;
  top: 39px;
  left: -100px;
  transform: translateX(-50%);
  background-color: var(--third-color);
  padding: 10px;
  width: 300px;
  background-color: var(--third-color);
  transition: 0.4s;
  transition-delay: 0.1s;
  transform-origin: top;
  transform: scaleY(0);
}
.main ul li:hover .dropdown_products {
  transform: scaleY(1);
}

.main ul li .dropdown_products a {
  width: 100%;
  padding: 20px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 14px;
  text-transform: none;
  transition: 0.4s;
}

.main ul li .dropdown_products a:hover {
  background-color: var(--secoondary-color);
  color: var(--third-color);
}

.main ul li .dropdown_products li {
  margin: 0;
}

/* dropdown Products END*/

/* dropdown blog Start */

.main ul li .dropdown_blog {
  position: absolute;
  flex-direction: column;
  top: 39px;
  left: -100px;
  transform: translateX(-50%);
  background-color: var(--third-color);
  padding: 10px;
  width: 300px;
  background-color: var(--third-color);
  transition: 0.4s;
  transition-delay: 0.1s;
  transform-origin: top;
  transform: scaleY(0);
}
.main ul li:hover .dropdown_blog {
  transform: scaleY(1);
}

.main ul li .dropdown_blog a {
  width: 100%;
  padding: 20px;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 14px;
  text-transform: none;
  transition: 0.4s;
}

.main ul li .dropdown_blog a:hover {
  background-color: var(--secoondary-color);
  color: var(--third-color);
}

.main ul li .dropdown_blog li {
  margin: 0;
}

/* dropdown blog END */


/* hero start */

#hero{
  background-image: url(./image/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cente;
  padding-top:600px;
  padding-bottom: 100px;
  height: 100vh;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

#hero::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

#hero h1{
  font-size: 90px;
  font-weight: 800;
  width: 900px;
  font-family: var(--primary-font);
  color: var(--third-color);
  text-transform: uppercase;
  line-height:90px;
  margin-bottom: 100px;
}

#hero h1 span{
  font-weight: 200;
  font-style: italic;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}

#hero h1 span::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--secoondary-color);
  z-index: -1; 
  transform: skewX(-15deg);
}

/* hero END */

/* upcomming start */
#upcomming_match{
  padding: 100px 0;
  background-image: url(./image/texture_bg.png);
  background-color: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

#upcomming_match .main{
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 75px;
}

#upcomming_match img{
  width: 75px;

}

#upcomming_match .item.club_logo{
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: var(--third-color);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 30.4px;
  gap: 20px;
  font-weight: 800;
}

#upcomming_match .items{
  align-items: center;
  width: fit-content;
}

#upcomming_match .items h2 {
    font-family: var(--primary-font);
    color: var(--third-color);
    background-color: var(--secoondary-color);
    font-size: 24px;
    font-weight: 800;
    line-height: 30.4px;
    padding: 2px 10px;
    align-items: center;
    text-transform: uppercase; 
    display: inline-block;
    letter-spacing: -1.22px;
}

#upcomming_match .lte-team-count{  
  font-family: var(--primary-font);
  color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 20px;
  font-size: 48px;
  font-weight: 800;
  margin: 38px 0;
}

#upcomming_match .items p{
  font-family: var(--primary-font);
  color: var(--third-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 30.4px;
  margin-top: 20px;
  align-items: center;
  text-transform: uppercase;
  opacity: 0.65;
}

#upcomming_match .items p span{
  font-family: var(--primary-font);
  font-size: 30px;
  font-weight: 800px;
  text-align: center; 
  display: block;
}

/* upcomming end */